@model List<ads.Models.ad>

@{
    ViewBag.Title = "AfterLoginIndex";
}
@{
    Layout = "~/Views/Shared/afterLogin.cshtml";
}
<h2>After Login</h2>
@foreach (var item in Model)
    {       
        //Server=464082e0-1c44-4997-bbe4-a2c9011c042c.sqlserver.sequelizer.com;Database=db464082e01c444997bbe4a2c9011c042c;User ID=gigunfqortpqmhfh;Password=JTxHnhMBJafVSwtowRauChRkq54vus4ukRyK3v3hQVnFhZXsAwqTqZXAcmrrnrhq;
        <div class="row">
  <div class="span8">
    <div class="row">
      <div class="span8">
        <h4><strong><a href="#">@item.title</a></strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="span2">
           <img src="@item.image">
      </div>
      <div class="span6">      
        <p>
            <p><b>Description: </b>@item.description</p>
        </p>
          <p>
            <p><b>Price: </b>@item.price</p>
        </p>
          <p>
            <p><b>Name: </b>@item.contactName</p>
        </p>
        <p>
            <p><b>Email: </b>@item.email</p>
        </p>
          <p>
            <p><b>Phone Number: </b>@item.number</p>
        </p>
          <p>
            <p><b>Location: </b>@item.location</p>
        </p>
          <div class="container">
	<div class="row">
        <br>
            
    	   @Html.ActionLink("Edit", "Edit", new { id=item.Id})|
        @Html.ActionLink("Delete", "Delete", new { id=item.Id})
           
            </div>
</div>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <p></p>
        
      </div>
    </div>
  </div>
</div>
<hr>
        
    }